<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>FluffyChat - {{ page.title }}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="{{site.assets}}/css/font.css" rel="stylesheet" type="text/css">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{site.assets}}/css/normalize.css">
<link rel="stylesheet" href="{{site.assets}}/css/skeleton.css">
<link rel="stylesheet" href="{{site.assets}}/css/animate.min.css">
<link rel="stylesheet" href="{{site.assets}}/css/custom.css">

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{site.assets}}/js/nav.js"></script>
<script src="{{site.assets}}/js/jquery-3.2.1.min.js"></script>

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{{site.assets}}/images/favicon.png">