<div class="row">
    <div class="one-half column paddingColumn" id="titleColumn">
        <h3>{{ site.data[page.lang].index.title }}</h3>
        <b>Android:</b><br/>
        <a href="https://play.google.com/store/apps/details?id=chat.fluffy.fluffychat" target="new"><img alt="Get it from PlayStore" style="height: 50px;" class="animated bounceIn" src="{{site.assets}}/images/google-play-badge.png" /></a>
        <a href="{{ site.baseurl }}{{ page.lang }}/fdroid.html" ><img alt="Get it from F-Droid" style="height: 50px;" class="animated bounceIn" src="{{site.assets}}/images/fdroid_button.png" /></a><br/>
        <b>iPhone:</b><br/>
        <a href="https://testflight.apple.com/join/hL6Tyyaj" target="new"><img alt="Get it from the AppStore" style="height: 50px;" class="animated bounceIn" src="{{site.assets}}/images/appstore-badge.png" /></a><br/>
        <b>Linux:</b><br/>
        <a href="https://open-store.io/app/fluffychat.christianpauly" target="new"><img style="height: 50px;width: auto;"  class="buttonImage animated bounceIn" src="{{site.assets}}/images/downloadButton.jpg"/></a>
        <a href="https://snapcraft.io/fluffychat" target="new"><img alt="Get it from the Snap Store" style="height: 50px;" src="https://snapcraft.io/static/images/badges/en/snap-store-black.svg" /></a><br/>
        <b>Browser:</b><br/>
        <a href="https://web.fluffychat.im" id="browserbutton" target="new"><img alt="Open in " style="height: 42px; padding: 5px;" class="animated bounceIn" src="{{site.assets}}/images/browser.png" /><p>Open in the browser</p></a><br/>
    </div>
    <div class="one-half column gridItem">
        <img id="screenshot" src="{{site.assets}}/images/product-mini.png" class="article_image animated bounceInRight" />

    </div>
</div>

<div class="spacer"> </div>

<div class="row">
    <div class="one-third column gridItem">
        <img src="{{site.assets}}/images/open.svg" class="article_image" />
        <p><b>{{ site.data[page.lang].index.open }}</b><br>
            {{ site.data[page.lang].index.openDesc }}</p>
        </div>
        <div class="one-third column gridItem">
            <img src="{{site.assets}}/images/nonprofit.svg" class="article_image" />
            <p>
                <b>{{ site.data[page.lang].index.nonprofit }}</b><br>
                {{ site.data[page.lang].index.nonprofitDesc }}
            </p>
        </div>
        <div class="one-third column gridItem">
            <img src="{{site.assets}}/images/cute.svg" class="article_image" />
            <p><b>{{ site.data[page.lang].index.cute }}</b><br>
                {{ site.data[page.lang].index.cuteDesc }}
            </div>
        </div>
        <div class="row">
            <div class="one-third column gridItem">
                <img src="{{site.assets}}/images/chats.svg" class="article_image" />
                <p><b>{{ site.data[page.lang].index.chats }}</b><br>
                    {{ site.data[page.lang].index.chatsDesc }}
                </p>
            </div>
            <div class="one-third column gridItem">
                <img src="{{site.assets}}/images/easy.svg" class="article_image" />
                <p><b>{{ site.data[page.lang].index.easy }}</b><br>
                    {{ site.data[page.lang].index.easyDesc }}
                </p>
            </div>
            <div class="one-third column gridItem">
                <img src="{{site.assets}}/images/free.svg" class="article_image" />
                <p><b>{{ site.data[page.lang].index.free }}</b><br>
                    {{ site.data[page.lang].index.freeDesc }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="one-third column gridItem">
                <img src="{{site.assets}}/images/connective.svg" class="article_image" />
                <p><b>{{ site.data[page.lang].index.connective }}</b><br>
                    {{ site.data[page.lang].index.connectiveDesc }}
                </p>
            </div>
            <div class="one-third column gridItem">
                <img src="{{site.assets}}/images/decentralized.svg" class="article_image" />
                <p><b>{{ site.data[page.lang].index.decentralized }}</b><br>
                    {{ site.data[page.lang].index.decentralizedDesc }}
                </p>
            </div>
            <div class="one-third column gridItem">
                <img src="{{site.assets}}/images/compatible.svg" class="article_image" />
                <p><b>{{ site.data[page.lang].index.compatible }}</b><br>
                    {{ site.data[page.lang].index.compatibleDesc }}</p>
                </div>
            </div>

            <div class="spacer"> </div>

            <div class="row">
                <div class="one-third column">
                    <img class="article_image" src="{{site.assets}}/images/if_50-_couple-lesbian-love-head-to-head-1_3011618.png" />
                </div>
                <div class="two-thirds column paddingColumn">
                    <h3>{{ site.data[page.lang].index.dreamTitle }}</h3>
                    <p>{{ site.data[page.lang].index.dreamText }}
                    </p>
                </div>
            </div>
